/** @format */

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
    url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-Light';
  font-weight: 300;
  src: url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Light.woff') format('woff'),
    url('../fonts/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  font-weight: 500;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
    url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-SemiBold';
  font-weight: 600;
  src: url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
    url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  font-weight: bold;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
    url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}
