/** @format */

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
