@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// 3. Layout-related sections
@import 'layout/header', 'layout/footer';

// 4. Components
@import 'components/button', 'components/timeframe';

// 5. Page-specific styles
@import 'pages/home';

// 6. Themes
@import 'themes/default';

// 7. Vendors
@import 'vendors/normalize', 'vendors/tailwind';
